<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://github.com/gematik/"><img style="height: 1.4em;margin-right: 0.4em;" src="{{{siteRootPath}}}/_/img/github-mark-white.svg"> GiHub</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/gematik/api-telematik">Telematik API</a>
            <a class="navbar-item" href="https://github.com/gematik/api-erp">eRP API</a>
            <a class="navbar-item" href="https://github.com/gematik/api-epa">ePA API</a>
            <a class="navbar-item" href="https://github.com/gematik/api-kim/">KIM API</a>
            <a class="navbar-item" href="https://github.com/gematik/api-ti-messenger/">TI-Messenger API</a>
            <a class="navbar-item" href="https://github.com/gematik/api-vzd/">Directory API</a>
          </div>
        </div>
        <a class="navbar-item" href="https://fachportal.gematik.de/">Fachportal</a>
        <div class="navbar-item" style="scale: 1.2;">
          <span class="control">
            <img class="logo" src="{{{siteRootPath}}}/_/img/gematik_logo_text.svg">
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
